body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#contenedor {
    height: 100%;
}

.seccion {
    height: 10vh;
    overflow: hidden;
    transition: height 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* color del background de las secciones */

#seccion1 { background: linear-gradient(to top, #2f2f2f, #3f3f3f); }
#seccion2 { background-color: #2f2f2f; }
#seccion3 { background-color: #3f3f3f; }
#seccion4 { background-color: #2f2f2f; }

.seccion.activa {
        height: 70vh;
}

.seccion.inactiva {
    position: relative;

}


.seccion h2 {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

.seccion p {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    margin: 10px 20px;
}

/* Estilos para la galería */

.galeria {
    display: none; /* Oculta la galería por defecto */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Asegura que los elementos estén en línea */
    height: 100%; /* Ocupa el 100% de la altura de la sección */
    gap: 8px;
    background-color: #2f2f2f;
    padding: 16px;
}

.prototipos {
    display:none
}

.prototipos iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 380px;
    height: 900px;
}


.elemento-galeria {
    flex: 0 0 auto; /* Ajusta esto según tus necesidades */
    /* Resto de tus estilos */
}

.elemento-galeria img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de su contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    border-radius: 16px;

}


.seccion.activa .galeria {
    display: flex; /* Mostrar la galería solo cuando la sección está activa */
}

.seccion.activa .prototipos {
    display: flex; /* Mostrar la galería solo cuando la sección está activa */
}





/* Estilos específicos para cuando la sección 2 y 3 está activa */

#seccion2.activa h2 {
    display: none; /* Ocultar el título en la sección 2 cuando está activa */
}

#seccion3.activa h2 {
    display: none; /* Ocultar el título en la sección 3 cuando está activa */
}

#seccion4.activa #formularioContacto {
    display: block; /* Muestra el formulario cuando la sección 4 está activa */
}



/* Estilo para todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento horizontal */
    height: 8px; /* Altura de la barra de desplazamiento vertical */
}

/* Estilo para el rastro de la barra (la parte que no es el pulgar) */
::-webkit-scrollbar-track {
    background: transparent; /* Puedes cambiar esto si quieres un color de fondo */
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
}

/* Cambiar el color del pulgar al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón */
}



/* Estilos base para el formulario */

#formularioContacto {
    font-family: 'Cairo', sans-serif;
    display: none;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.campo-formulario {
    margin-bottom: 15px;
    width: 80vh;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #2f2f2f; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: 1px solid #4f4f4f; /* Borde sutil */
}


.campo-formulario textarea {
    height: 100px;
    background-color: #2f2f2f;
}

button[type="submit"] {
    background-color: #3f3f3f;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 30vh;
    border-radius: 12px;
}

button[type="submit"]:hover {
    background-color: #4f4f4f;
    width: 30vh;
    color: #00e1ff;
}

/* Media queries para diferentes tamaños de pantalla */

@media (min-width: 60vh) {
    #formularioContacto {
        max-width: 550vh;
    }
}

@media (max-width: 80vh) {
    #formularioContacto {
        width: 90%;
    }
}





/* Estilos generales para la sección 1 */

#seccion1 {
    color: #333;
    font-family: 'Cairo', sans-serif;
    font-size: large;
    display: flex; /* Asegura que los botones estén alineados horizontal o verticalmente */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    min-height: 100px; /* Establece un mínimo de altura */
    justify-content: space-around;
}

#seccion1 .contenido {
    
    display: none; /* Oculta el contenido cuando la sección está inactiva */
    padding: 15px;
    color: #c4c4c4;


}

#seccion1.seccion.activa .contenido {

    display: flex; /* Oculta el contenido cuando la sección está inactiva */
}

#seccion1.seccion.inactiva .contenido {
    display: flex; /* Oculta el contenido cuando la sección está inactiva */
    position: absolute;
    
}


/* Estilos para la navegación (botones) */

#seccion1 nav {
    text-align: center;
}

#seccion1 button {
    font-size: large;
    font-family: 'Cairo', sans-serif , bold;
    background-color: #2f2f2f;
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#seccion1 button:hover {
    background-color: #4f4f4f; 
    color: #00e1ff;
}

