html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden; /* Evita barras de desplazamiento innecesarias */
}

#threejs-background {
    width: 800px;
    /* o el tamaño que desees */
    height: 600px;
    /* o el tamaño que desees */
    /* Otras propiedades de estilo como posición, margen, etc. */
}

/* Asegúrate de que los elementos de contenido tengan un z-index mayor que -1 si es necesario */
.contenido-principal {
    position: relative;
    z-index: 10;
    /* o un número mayor si es necesario */
    /* Más estilos para tu contenido aquí */
}

#contenedor {
    height: 100%;
}

button {
    font-size: small;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background-color: #ff7b00;
    color: #2f2f2f;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 16px;
    transition: 1s ease;

}

button:hover {
    background-color: #3f3f3f;
    color: #ffffff;
    align-self: stretch;
    transition: 1s ease;
}

.btn_proto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    gap: 8px;
    left: 0%;
}

.boton-ocultar {
    position: absolute;
    animation: slideOutLeft 0.5s forwards;
}

.boton-mostrar {
    display: flex;
    position: absolute;
    position: absolute;
    left: -100%;
    animation: slideInLeft 0.5s forwards;
}

@keyframes slideOutLeft {
    from {
        left: 1px;
    }

    to {
        left: -100%;
    }
}

@keyframes slideInLeft {
    from {
        left: -100%;
    }

    to {
        left: 1px;
    }
}

/* _______________________SECCIONES__________________________ */

.seccion {
    height: 10vh;
    transition: height 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

#seccion1 {
    background-image: url('https://drive.google.com/uc?export=view&id=1O8KzOLOLgGwPHDIpyKaPrXS24NQfUGAo');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#seccion1 {
    background-color: #121212;
}

#seccion2 {
    background-color: #1f1f1f;
}

#seccion3 {
    background-color: #2f2f2f;
}

#seccion4 {
    background-color: #3f3f3f;
}

.seccion.activa {
    height: 100vh;
}

.seccion.inactiva {
    height: 10vh;
}

.seccion h2 {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

/* _______________BIENENIDA - SECCION 1____________________ */

#seccion1 {
    font-family: 'Cairo', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    flex-direction: column;

}

#seccion1 .contenido {
    display: none;
    color: #c4c4c4;
    max-width: 1700px;
}

#seccion1.seccion.activa .contenido {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px;

}

#seccion1.seccion.inactiva .contenido {
    display: none
}

#seccion1.seccion.inactiva .h2 {
    display: flex;
}



/* ______________________seccion1 cards___________________________________ */

.card {
    border-radius: 10px;
    padding: 24px;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f2f2f;
    align-content: flex-start;
    align-items: flex-end;
    user-select: none;
}

.card-icon {
    width: 24px;
    height: 24px;
    position: relative;
    color: #ff7b00;
}

.card-title {
    margin-bottom: auto;
    font-size: 1.2em;
}


.card-content h2 {
    margin-top: 0;
}

.card-content p {
    font-size: 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

#contenido {
    flex-basis: calc(100% / 2);
}


/* ______________________GALERIA - SECCION 2___________________________________ */

.galeria {
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    height: 60vh;
    gap: 8px;
    padding: 16px;
}

.elemento-galeria {
    flex: 0 0 auto; 
}

.elemento-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.seccion.activa .galeria {
    display: flex;
    flex-direction: row;
}

#seccion2.activa h2 {
    display: flex;
}

#seccion2.activa h3 {
    display: flex;
}

#seccion2.activa p {
    display: flex;
}

#seccion3.activa h2 {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

/* .galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-width: 1800px;
}

.proyecto-galeria {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row; 
}

.imagenes_proyecto-galeria {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: start;
    width: 100%;
    max-width: 1800px;
    gap: 16px;
}

.imagenes_proyecto-galeria .imagen_proyecto img {
    border-radius: 16px;
    min-width: 100px;
    max-height: 60vh;
} */

#seccion2.seccion.activa .texto-proyecto {
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.texto-proyecto {
    display: none;
}

#seccion2.seccion.activa {
    display: flex;
}

#seccion2.seccion.activa .galeria {
    display: flex;
}

#seccion2 .galeria {
    display: none;
}

#seccion2.activa h2 {
    display: none;
}



#seccion4.activa #formularioContacto {
    display: block;
    /* Muestra el formulario cuando la sección 4 está activa */
}

/* Estilo para todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento horizontal */
    height: 8px;
    /* Altura de la barra de desplazamiento vertical */
}

/* Estilo para el rastro de la barra (la parte que no es el pulgar) */
::-webkit-scrollbar-track {
    background: transparent;
    /* Puedes cambiar esto si quieres un color de fondo */
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color del pulgar */
    border-radius: 10px;
    /* Bordes redondeados para el pulgar */
}

/* Cambiar el color del pulgar al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color del pulgar al pasar el ratón */
}

/* ____________________PROTOTIPOS FIGMA - SECCION 3_________________________________ */


#prototipo1 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 100%;
    min-height: 100vh;
    min-width: 50vh;
}


#prototipo2 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 100%;
    min-height: 100vh;
    min-width: 50vh;
}

.prototipos {
    display: none;
}

.prototipos {
    display: none;
}

#seccion3.seccion.activa {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

#seccion3.seccion.activa .prototipos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
    overflow: hidden;
    overflow-x: hidden;
}

#seccion3.seccion.activa h2 {
    display: none;
}

/* _______________________CONTACTO - SECCION 4______________________________*/

#seccion4.seccion.activa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

#formularioContacto {
    font-family: 'Cairo', sans-serif;
    display: none;
    max-width: 80vh;
    width: 90%;
}

.campo-formulario {
    display: flex;    
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
    min-height: 18px;
    font-family: 'Cairo', sans-serif;
}

#nombre {
    min-height: 18px;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
    padding: 6px;

}

#email {
    min-height: 24px;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
    padding: 6px;

}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario textarea {
    border-radius: 8px;
    background-color: #2f2f2f;    /* Fondo oscuro */
    color: white;    /* Texto blanco */
    border: 1px solid #4f4f4f;    /* Borde sutil */
    align-self: stretch;
    min-height: 80px;
}

.campo-formulario textarea {
    background-color: #2f2f2f;
    font-size: larger;
    padding: 16px;
}

button[type="submit"] {
    background-color: #2f2f2f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    border-radius: 12px;
}

button[type="submit"]:hover {
    background-color: #1f1f1f;
    width: 100%;
    color: #00e1ff;
    height: 48px;
}


.circle:hover {
    cursor: pointer;
}