.threejs-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
}

.background_three {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
}

html, body {
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden; /* Evita barras de desplazamiento innecesarias */
}

/* Asegúrate de que los elementos de contenido tengan un z-index mayor que -1 si es necesario */
.contenido-principal {
    position: relative; /* o absolute, según la necesidad */
    z-index: 1; /* o un número mayor si es necesario */
    /* Más estilos para tu contenido aquí */
}

#contenedor {
    height: 100%;
}

button {
    font-size: large;
    font-family: 'Cairo', sans-serif , bold;
    /* background-color: #2f2f2f; */
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}

button:hover {
    background-color: #4f4f4f; 
    color: #00e1ff;
    align-self: stretch;
}

.btn_proto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    gap: 8px;
    left: 24px;
    bottom: 120px;
}

/* _______________________SECCIONES__________________________ */

.seccion {
    height: 10vh;
    transition: height 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}
/*
#seccion1 {
    background-image: url('https://drive.google.com/uc?export=view&id=1O8KzOLOLgGwPHDIpyKaPrXS24NQfUGAo');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}____*/

#seccion1 { background-image: linear-gradient(to bottom, #2f2f2f, #3f3f3f);}
#seccion2 { background-color: #2f2f2f; }
#seccion3 { background-color: #3f3f3f; }
#seccion4 { background-color: #2f2f2f; }

.seccion.activa {
    height: 70vh;
}

.seccion.inactiva {
    height: 10vh;
}

.seccion h2 {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

/* _______________BIENENIDA - SECCION 1____________________ */

#seccion1 {
    font-family: 'Cairo', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    justify-content: space-around;
    flex-direction: column;
}

#seccion1 .contenido {
    display: none;
    color: #c4c4c4;
}

#seccion1.seccion.activa .contenido {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 16px;
    overflow-y: auto;
}

#seccion1.seccion.inactiva .contenido {
    display: none
}

#seccion1.seccion.inactiva .h2 {
    display: flex;
}



/* ______________________seccion1 cards___________________________________ */

.card {
    border-radius: 10px;
    padding: 16px;
    max-width: 500px;
    min-width: 400px;
    min-height: 200px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}

.card-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.card-title {
    margin-bottom: auto; /* Asegura que el título se quede arriba */
    font-size: 1.2em;
}

.card-content {
    margin-top: 24px  /* Empuja el contenido hacia abajo */
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    font-size: 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}





/* ______________________GALERIA - SECCION 2___________________________________ */

.galeria {
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    gap: 8px;
    background-color: #2f2f2f;
    padding: 16px;
}

.elemento-galeria {
    flex: 0 0 auto; 
}

.elemento-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.seccion.activa .galeria {
    display: flex;
    flex-direction: row;
}

#seccion2.activa h2 {
    display: flex; /* Ocultar el título en la sección 2 cuando está activa */
}

#seccion3.activa h2 {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

#seccion4.activa #formularioContacto {
    display: block; /* Muestra el formulario cuando la sección 4 está activa */
}

/* Estilo para todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento horizontal */
    height: 8px; /* Altura de la barra de desplazamiento vertical */
}

/* Estilo para el rastro de la barra (la parte que no es el pulgar) */
::-webkit-scrollbar-track {
    background: transparent; /* Puedes cambiar esto si quieres un color de fondo */
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
}

/* Cambiar el color del pulgar al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón */
}

/* ____________________PROTOTIPOS FIGMA - SECCION 3_________________________________ */


#prototipo1 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 850px;
}

#prototipo2 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 850px;
}

.prototipos {
    display: none; /* Ocultar el título en la sección 3 cuando está activa */
}

#seccion3.seccion.activa .prototipos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

/* _______________________CONTACTO - SECCION 4______________________________*/



#formularioContacto {
    font-family: 'Cairo', sans-serif;
    display: none;
    padding: 24px;
    width: 90%
}

.campo-formulario {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-direction: column;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
    min-height: 24px;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
}

#nombre {
    min-height: 24px;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
    padding: 6px;
    
}
#email {
    min-height: 24px;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
    padding: 6px;
    
}
.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario textarea {
    border-radius: 8px;
    background-color: #2f2f2f; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: 1px solid #4f4f4f; /* Borde sutil */
    align-self: stretch;
    min-height: 80px;

}

.campo-formulario textarea {
    height: 100px;
    background-color: #2f2f2f;
    font-size: larger;
    padding: 16px;



}

button[type="submit"] {
    background-color: #3f3f3f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 48px;

}

button[type="submit"]:hover {
    background-color: #4f4f4f;
    width: 100%;
    color: #00e1ff;
    height: 48px;
}

/* __________Media queries para diferentes tamaños de pantalla___________ */


