.threejs-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
}

.background_three {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
}

html, body {
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden; /* Evita barras de desplazamiento innecesarias */
}

/* Asegúrate de que los elementos de contenido tengan un z-index mayor que -1 si es necesario */
.contenido-principal {
    position: relative; /* o absolute, según la necesidad */
    z-index: 1; /* o un número mayor si es necesario */
    /* Más estilos para tu contenido aquí */
}

#contenedor {
    height: 100%;
}

button {
    font-size: large;
    font-family: 'Cairo', sans-serif , bold;
    background-color: #2f2f2f;
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4f4f4f; 
    color: #00e1ff;
}

.btn_proto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    gap: 8px;
    margin: -100px;
}

/* _______________________SECCIONES__________________________ */

.seccion {
    height: 10vh;
    transition: height 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}
/*
#seccion1 {
    background-image: url('https://drive.google.com/uc?export=view&id=1O8KzOLOLgGwPHDIpyKaPrXS24NQfUGAo');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}____*/

#seccion1 { background-image: linear-gradient(to bottom, #2f2f2f, #3f3f3f);}
#seccion2 { background-color: #2f2f2f; }
#seccion3 { background-color: #3f3f3f; }
#seccion4 { background-color: #2f2f2f; }

.seccion.activa {
    height: 70vh;
}

.seccion.inactiva {
    height: 10vh;
}

.seccion h2 {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

/* _______________BIENENIDA - SECCION 1____________________ */

#seccion1 {
    color: #333;
    font-family: 'Cairo', sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    justify-content: space-around;
    flex-direction: column;
}

#seccion1 .contenido {
    display: none;
    padding: 15px;
    color: #c4c4c4;
}

#seccion1.seccion.activa .contenido {
    display: flex;
}

#seccion1.seccion.inactiva .contenido {
    display: none
}


/* Estilos para la navegación (botones) */

#seccion1 nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#seccion1 button {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

#seccion1 button:hover {
    background-color: #2f2f2f; 
    color: #00e1ff;
}
/* ______________________GALERIA - SECCION 2___________________________________ */

.galeria {
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    gap: 8px;
    background-color: #2f2f2f;
    padding: 16px;
}

.elemento-galeria {
    flex: 0 0 auto; 
}

.elemento-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.seccion.activa .galeria {
    display: flex;
    flex-direction: row;
}

#seccion2.activa h2 {
    display: flex; /* Ocultar el título en la sección 2 cuando está activa */
}

#seccion3.activa h2 {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

#seccion4.activa #formularioContacto {
    display: block; /* Muestra el formulario cuando la sección 4 está activa */
}

/* Estilo para todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento horizontal */
    height: 8px; /* Altura de la barra de desplazamiento vertical */
}

/* Estilo para el rastro de la barra (la parte que no es el pulgar) */
::-webkit-scrollbar-track {
    background: transparent; /* Puedes cambiar esto si quieres un color de fondo */
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
}

/* Cambiar el color del pulgar al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón */
}

/* ____________________PROTOTIPOS FIGMA - SECCION 3_________________________________ */


#prototipo1 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 850px;
}

#prototipo2 iframe {
    margin-top: -55%;
    margin-bottom: -60%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 850px;
}

.prototipos {
    display: none; /* Ocultar el título en la sección 3 cuando está activa */
}

#seccion3.seccion.activa .prototipos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60vh;
}

/* _______________________CONTACTO - SECCION 4______________________________*/

#formularioContacto {
    font-family: 'Cairo', sans-serif;
    display: none;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.campo-formulario {
    margin-bottom: 15px;
    width: 80vh;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #2f2f2f; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: 1px solid #4f4f4f; /* Borde sutil */
}

.campo-formulario textarea {
    height: 100px;
    background-color: #2f2f2f;
}

button[type="submit"] {
    background-color: #3f3f3f;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 30vh;
    border-radius: 12px;
}

button[type="submit"]:hover {
    background-color: #4f4f4f;
    width: 30vh;
    color: #00e1ff;
}

/* __________Media queries para diferentes tamaños de pantalla___________ */

@media (min-width: 60vh) {
    #formularioContacto {
        max-width: 550vh;
    }
}

@media (max-width: 80vh) {
    #formularioContacto {
        width: 90%;
    }
}

